@import "./modules";

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fahkwang", sans-serif;
  font-weight: 500;
  color: #26222f;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a,
.link {
  text-decoration: none !important;
  color: #000 !important;
  transition: all 0.2s linear;
  cursor: pointer;
}

input {
  outline: none;
}

.g-btn {
  color: #26222f;
  background-color: #fff;
  border: 1px solid #26222f;
  border-radius: 0;
  font-size: 13px;
  font-weight: 600;
  line-height: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 15px 26px;
  text-align: center;
  transition: all 0.3s;
  cursor: pointer;

  &:hover {
    color: #fff;
    background-color: #26222f;
  }
}
